/* pseudo elements */
:root {
    --font-color: hsl(206, 17%, 28%);
    --card-bg: #e7e9eb;
    --accent: #c0c7cf;
    --accent-2: hsl(0, 0%, 100%);
    --box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
    --align-center: center;
    --block: block;
}

/* universal selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* removes margin & padding from entire html document & gives default font and background color*/
html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #f9fbfd;
}

/* styles header element */
header {
    text-align: var(--align-center);
    padding: 0px 20px 20px 20px;
    color: var(--font-color);
  }

/* styles button when disabled */
button[disabled] {
    cursor: default;
    background: var(--accent);
  }

/* class selectors */
/* gives padding to the wrapper class */
.wrapper {
  padding: 30px 20px;
}

/* styles the card class */
.card {
  background-color: var(--accent-2);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--box-shadow);
  color: var(--font-color);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: (--block);
  width: 100%;
  background: var(--card-bg);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: var(--align-center);
}

.card-footer::before {
  content: " ";
  display: var(--block);
  width: 100%;
  background: var(--card-bg);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: var(--block);
  clear: both;
}

.btn {
  border: none;
  background-color: hsl(360, 91%, 36%);
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  color: var(--accent-2);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: var(--align-center);
  cursor: pointer;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: var(--block);
  width: 100%;
  padding: 15px 15px 85px;
  font-size: 1.2rem;
  text-align: var(--align-center);
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--accent);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* media queries for smaller screen sizes */
@media (max-width: 690px) {
    /* resizes button for smaller screens */
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  /* resizes password for smaller screens */
  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
    /* resizes button for even smaller screens */
  .btn {
    font-size: 0.8rem;
  }
}